body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 600px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0a58ca;
    font-weight: bold;
}

.status {
    margin-top: 20px;
    color: green;
}
